

/* noinspection CssInvalidAtRule */
@alias {
    bg:background;
}

@font-face {
    font-family: 'KongFont';
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/Gugi-Regular.ttf');
}


body {
    bg:#d2d2d2;
}

* {
    font-family: 'KongFont', serif;
}
